---
import Layout from "../layouts/Layout.astro";
import Map from "../layouts/Map.astro";
import { t, changeLanguage } from "i18next";
import "../assets/tabulator_modern.css";

changeLanguage("en");
---

<Layout title={t("cemetery.title")}>
  <h1 class="text-center text-2xl font-bold">{t("cemetery.h1")}</h1>

  <p>{t("cemetery.body1")}</p>
  <p>{t("cemetery.body2")}</p>
  <p>{t("cemetery.body3")}</p>
  <p>{t("cemetery.body4")}</p>

  <Map />

  <script src="../js/tooltips.js"></script>
  <script>
    import { create_tooltip } from "../js/tooltips.js";
    let ids = ["CN1"];
    for (let i = 1; i <= 42; i++) {
      ids.push(`A${i}`);
    }
    for (let i = 1; i <= 65; i++) {
      ids.push(`B${i}`);
    }
    for (let i = 1; i <= 90; i++) {
      ids.push(`C${i}`);
    }
    for (let i = 1; i <= 48; i++) {
      ids.push(`D${i}`);
    }
    for (let i = 1; i <= 68; i++) {
      ids.push(`E${i}`);
    }
    // for (let i=1; i<=26 ; i++){
    //     ids.push(`EN${i}`)
    // }
    const url = window.location.href;
    for await (const id of ids) {
      await create_tooltip(id, url);
    }
  </script>

  <p>{t("cemetery.body5")}</p>
  <p>{t("cemetery.body6")}</p>
  <p>{t("cemetery.body7")}</p>

  <div class="mx-auto mt-11 flex justify-center gap-4">
    <select class="select select-bordered w-full max-w-xs" id="filter-field">
      <option value="" disabled selected>{t("table.select")}</option>
      <option value="id">{t("table.index")}</option>
      <option value="tomb_id">{t("table.tomb_code")}</option>
      <option value="family_name">{t("table.family_name")}</option>
      <option value="name">{t("table.name")}</option>
      <option value="father_name">{t("table.father_name")}</option>
      <option value="death_date">{t("table.death")}</option>
    </select>

    <input
      id="filter-value"
      type="text"
      placeholder="Search"
      class="input input-bordered w-full max-w-xs"
    />

    <button class="btn btn-outline" id="filter-clear">{t("table.clear")}</button>
  </div>

  <div class="mx-auto mt-6 max-w-4xl" id="cemetery-table"></div>

  <script src="../js/table.js"></script>
</Layout>
